{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="container mt-5" style="max-width: 600px;">
		<h1 class="mb-4">Contact</h1>

		<p>Pour toute question, vous pouvez nous écrire à l'adresse suivante :</p>

		<p>
			<a href="mailto:revivalsoft.planningtools@gmail.com" class="fw-bold">
				revivalsoft.planningtools@gmail.com
			</a>
		</p>
	</div>
{% endblock %}
